.promotions-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	background-color: #fff;
	width: 300px; /* Tamaño reducido */
}

.promotions-card h1 {
	font-size: 18px;
	color: #000;
	margin: 0;
	padding-bottom: 5px;
	flex-basis: 100%;
	text-align: left;
}

.promotions-card p {
	margin: 0;
	padding-bottom: 5px;
	color: #333;
	font-size: 14px; /* Tamaño reducido */
}

.promotions-card button {
	padding: 8px 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px; /* Tamaño reducido */
}

.promotions-card button:hover {
	background-color: #0056b3;
}

.promotions-card img {
	max-width: 30%; /* Tamaño reducido */
	border-radius: 10px;
}

.promotions-card div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 70%; /* Ajuste del tamaño */
}
